body {
  margin: 0;
  min-height: 100vh;
  line-height: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}
.header {
  padding: 2em;
  background: #fff;
  display: flex;
  /* position: fixed;
  left: 0;
  top: 0;
  bottom: 0; */
  flex-direction: column;
}

.nav {
  flex-grow: 1;
  padding: 2px;
}

.nav-list {
  margin: 0;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  margin-left: 0.5em;
  flex-direction: column;
  height: 100%;
}

h2 {
  margin: 0em 0 0;
}

.movie-list {
  display: table-column;
  column-count: 1;
  column-width: 5em;
}

.movie-list img {
  width: 30em;
}

.movie-list p {
  width: 30em;
}
