body {
  margin: 0;
  min-height: 100vh;
  line-height: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  background: rgb(20 184 166);
}
.header {
  padding: 2em;
  background: #fff;
  display: flex;
  flex-direction: column;
  background: rgb(20 184 0);
  height: 3rem;
}

.header h2 {
  margin-left: auto;
  margin-right: auto;
}

.header img {
  display: block;
  width: 5rem;
}

.nav {
  flex-grow: 1;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  margin: 0;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  background: green;
}

.movie-list {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.movie-list label {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.movie-list select {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.movie-card {
  max-width: 30rem;
  margin: 1rem auto;
  background: whitesmoke;
  border-radius: 4px;
  padding: 5px;
}

.movie-card h3 {
  margin: auto;
  padding-bottom: 6px;
}

.movie-card img {
  width: 30rem;
}

.movie-card p {
  width: 30rem;
  margin-right: auto;
  margin: auto;
  padding-top: 6px;
}

.submission-form {
  max-width: 20rem;
  margin: 2rem auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}

.submission-form h3 {
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.submission-form img {
  width: 18rem;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6px;
}

.submission-form label {
  display: block;
  padding: 0.5rem;
  margin-right: auto;
}

.submission-form input {
  display: block;
  margin-right: auto;
  margin-left: 6px;
}

.submission-form textarea {
  display: flex;
  margin-right: auto;
  margin-left: 6px;
  width: 19rem;
}

#submitBtn {
  border: 0;
  background: #343050;
  padding: 0.5rem;
  color: white;
  display: flex;
  flex-grow: 0;
  margin: 1rem 6.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

#submitBtn:hover {
  background: #3498db;
}
